<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{RESOURCE_LONG_NAME}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{STATIC_URL}}vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/agency.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'submit_view' %}">Submit</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'records_view' %}">Records</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page banner -->
    <header class="masthead">
        <div class="container2">
            <div class="intro-text">
              <div class="intro-heading">{{RESOURCE_LONG_NAME}}</div>
              <div class="intro-lead-in">{{RESOURCE_DESCRIPTION}}</div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Visual Geometry Group</span>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
               <p>Based on the <a href="https://startbootstrap.com/template-overviews/agency/" target="__blank">BootStrap-Agency</a> template</p>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{STATIC_URL}}vendor/jquery/jquery.min.js"></script>
    <script src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{STATIC_URL}}vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{STATIC_URL}}js/agency.min.js"></script>

  </body>

</html>
