{% extends 'base.html' %}
{% block content %}

    <!-- Main dashboard -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Main Dashboard</h2>
            <h3 class="section-subheading text-muted">Please select one of the options below</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <span class="fa-stack fa-4x"><a href="submit/">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-upload fa-stack-1x fa-inverse"></i>
              </a>
            </span>
            <h4 class="service-heading"><a href="submit/">Submit Video</a></h4>
            <p class="text-muted">Upload a new video for ingestion</p>
          </div>
          <div class="col-md-6">
            <span class="fa-stack fa-4x"><a href="records/?sort=-start_date_time">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-database fa-stack-1x fa-inverse"></i>
              </a>
            </span>
            <h4 class="service-heading"><a href="records/?sort=-start_date_time">Ingestion Records</a></h4>
            <p class="text-muted">Check the status of current and previous ingestions, download execution logs and results</p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

