{% extends 'base.html' %}
{% block content %}

    <!-- User login controls -->
    <center>
        <br/>
        <h2>Please enter your user credentials</h2>
        {% if form.errors %}
        <p style="color: red">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ NEXT }}" />
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
              <p><small style="color: grey">{{ field.help_text }}</small></p>
            {% endif %}
          </p>
        {% endfor %}
        <button type="submit">Log in</button>
        <br/><br/>
        </form>
    </center>

{% endblock %}
